<div class="d-flex justify-content-center">
  <div class="form" [formGroup]="form">

  <card [cardNumber]="CardNumber?.value" [month]="1" [year]="21" [cvc]="CVC?.value" [month]="Month?.value"
  [year]="Year?.value" [name]="Name?.value" [isFlip]="isFlip"></card>


  <div class="hk">

    <div class="input-group">
      <label>Kart Numarası</label>
      <input type="text" (keypress)="numberOnly($event)" maxlength="16" formControlName="cardNumber" autofocus required>
    </div>

    <div class="input-group">
      <label>Kart Üzerindeki Ad Soyad</label>
      <input type="text" maxlength="20" pattern="[a-zA-Z-]+" class="harfInput" formControlName="name" autofocus required>
    </div>

    <div class="select-group d-flex">
      <div class="month">
        <select formControlName="month" type="number">
          <option selected>Ay</option>
          <option *ngFor="let item of month">{{item}}</option>
        </select>

      </div>

      <div class="year">
        <select formControlName="year" type="number">
          <option selected>Yıl</option>
          <option *ngFor="let item of year">{{item}}</option>
        </select>

      </div>

      <div class="cvc">
        <input type="text" (keypress)="numberOnly($event)" maxlength="3" min="0" placeholder="CVV Kodu"
          formControlName="cvc" (focus)="focus()" (blur)="blur()" required>
      </div>
    </div>
    <button type="button" (click)="postForm()">Ödeme Yap</button>
  </div>

</div>
</div>
